<div class="landing-wrapper">
  <div class="main-logo-wrapper">
    <img class="main-logo" src="assets/resorces/LOGO-02%201.png">
  </div>
  <div class="main-img-wrapper">
    <img class="main-img" src="assets/resorces/landing-img.png">
  </div>
  <div class="btn-section">
    <div class="btn-wrapper">
      <button class="btn-add" (click)="moveToCreate()">
        <span class="btn-add-txt" >ჩანაწერის დამატება</span>
      </button>
      <button class="btn-history" (click)="moveToList()">
        <span class="btn-add-txt">ჩანაწერების სია</span>
      </button>
    </div>
  </div>
</div>


