<div class="container" *ngIf="upload.showFlag">
  <div class="nav-btn" (click)="moveBack()">
    <div class="left-arrow-wrapper">
      <img class="left-arrow" src="../../../assets/resorces/left-arrow-52.png">
    </div>
  </div>
  <div class="main-header-wrapper">
    <div class="employee-info">
      <span><a routerLink="employee" routerLinkActive="active">თანმშრომლის ინფო</a></span>
    </div>
    <div class="laptop-info">
      <span><a routerLink="laptop" routerLinkActive="active">ლეპტოპის მახასიათებლები</a></span>
    </div>
  </div>
  <router-outlet></router-outlet>
  <div class="logo-wrapper">
    <img src="../../../assets/resorces/LOGO-10%202.png" class="logo-img">
  </div>
</div>
<app-success-alert *ngIf="upload.success"></app-success-alert>
